@model Notebox.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteContent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id"><i class="fa-solid fa-pen-to-square fa-bounce text-success"></i></a> |
    <a class="text-black" asp-action="Index" style="text-decoration:none;"><i class="fa-solid fa-arrow-left "></i> Go Back</a>
</div>
